html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #ffffff;
}

container {
  display: flex;
  height: 90%;
  width: 1000px;
  margin: auto;
}

.left {
  padding: 0px;
  margin: 0px;
  width: 200px;
}

.spam {
  width: 180px;
  margin-top: 30px;
}

.middle {
  padding: 10px;
  
  
}

.flexdiv {
  display: flex;
  padding: 0px;
  margin: 0px;
}

hr,h4,p {
  padding: 0px;
  margin: 0px;
  
  
}
.Community {
  padding: 0px;
  margin: 0px;
  
}
.header {
  background-color: #c2c2c2;
  color: #000000;
}

.right {
  margin-top: 70px;
  
}

.back {
  background-color: #e4e2e2;
}

* {
  color: blue;
}